.menu{
    background-color: rgba(0, 0, 0, 0.425);
    display: flex;
    justify-content: space-between;
    z-index: 10;
    position: fixed;
    width: 100%;

    svg{
        margin: 0.5rem 1rem ;
        color: white
    }

}